{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load urlify  %}
{% block head_title %}
{{block.super}} | {{instance.title}}
{% endblock head_title %}
{% block content %}
<div class="container">
   <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto mt-4">

         <div class="bg-blog p-3 mt-3 mb-3">
            <div>
               <div class="author-image comment-user d-flex flex-row">
                  <div class="profile">
                     {% if comment.user.profile.image %}
                     <img class="profile-image" src="{{comment.user.profile.image.url}}" alt="{{comment.user}}"
                        title="{{comment.user}}">
                     {% endif %}
                  </div>
                  <div class="author-name">
                     <h6>{{ comment.user }}</h6>
                  </div>
               </div>
               {% comment %} <h2> {{comment.user}}</h2> {% endcomment %}
               <small>{{comment.publish_at}}</small>
               <p>{{comment.get_markdown}}</p>
               <a href="#" class="comment-reply-btn">
                  {% if comment.children.count > 0 %}
                  {{comment.children.count}} تعليقا
                  {% elif comment.children.count == 0 %} 0 تعليقا
                  {% endif %}
                  <span class="slah">|</span> رد

                  {% if request.user == comment.user %}
                  <span class="slah">|</span><a href="{{comment.get_delete_url}}">مسح</a>
                  {% endif %}

               </a>
            </div>

            <div class="comment-reply ">
               {% for child_comment in comment.children  %}
               <div class="ml-3 mt-3 reply-content">
                  <div class="author-image reply-user d-flex flex-row">
                     <div class="profile ">
                        {% if child_comment.user.profile.image %}
                        <img class="profile-image" src="{{child_comment.user.profile.image.url}}"
                           alt="{{child_comment.user}}" title="{{child_comment.user}}">
                        {% endif %}
                     </div>
                     <div class="author-name">
                        <h6>{{ child_comment.user }}</h6>
                     </div>
                  </div>
                  <small>{{child_comment.publish_at}}</small>
                  <p>{{child_comment.get_markdown}}</p>
                  {% if request.user == child_comment.user %}
                  <a href="{{child_comment.get_delete_yrl}}">مسح</a>
                  {% endif %}
               </div>

               {% endfor %}
               {% if request.user.is_authenticated %}
               <form method="POST" enctype="multipart/form-data" class="form-reply">
                  {% csrf_token %}
                  {{ form|crispy  }}
                  <input type="hidden" name="parent_id" value="{{comment.id}}" />
                  {% buttons %}
                  <div class="submit_btn">
                     <button class="btn btn-primary w-100" type="submit">رد</button>
                  </div>
                  {% endbuttons %}
               </form>
               {% endif %}
            </div>

         </div>

      </div>

   </div>
</div>
{% endblock content %}