/* 
 project name           ===> khatwa blog
 Design & coding by     ===> aboabker hilal
 start work             ===> 28/7/2020
 main color             ===> #2836c4b5
 font-color             ===> #6C6C6C,#ccc
 font-family            ===> "NeoSansArabic";

*/

/*************  start general setting style ***************/

@import url("../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBold.woff");
@import url("../neo-sans-arabic-cufonfonts-webfont/Neo\ Sans\ Arabic\ Regular.woff");
@font-face {
  font-family: "NeoSansArabic";
  src: url("../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBold.woff");
  font-family: "NeoSansArabic";
  src: url("../neo-sans-arabic-cufonfonts-webfont/Neo\ Sans\ Arabic\ Regular.woff");
}

:root[color-mode ="light"]{
  --primary-color:#343a40;
  --boxShadow:0px 0px 10px #e7e7e7;
  --body:#f5f7fa;
  --secondary-color:#fff;
  --color-body:#212529;
  --color-head:#2c2b29;
  --border-form:#ced4da;
  --code-bg:#e1e1e1 !important;
  --code-co:#212529 !important ;
  --pagination-bg: #e6f3ff;
  --pagination-co: #0a8cff;
  --small:#6b6b6b7e;
  --btn-read:90deg, #c773e38f, #2836c4b5;
  --main-color:#2836c4b5;
  --sec-color:#a115d1;
  --hr:#f7f8faf2;
  --fac:#3b5998;
  --git:#000;
  --twi:#55acee;
  /* 
  --background-one:#f9faf5;
  --background-two:teal;
  --border-color:#eee;
  --background-three:#fff;
  --back-header:#fff;
  --alert:#f8d7da;
  --color-alert:#721c24;
  --menu:#333;
  --toggle:#8c8c8c */
}

:root[color-mode ="dark"]{
  --primary-color:#dedede;
  --boxShadow: 0px 0px 10px #72727212;
  --body:#152028;
  --secondary-color:#232B32;
  --color-body:#dddddd;
  --color-head:#d6d6d6;
  --border-form:#63656659;
  --code-bg:#383f44 !important;
  --code-co:#c5c5c5 !important;
  --pagination-bg: #232b32;
  --pagination-co: #85898b;
  --small:#7e7e7e;
  --btn-read:90deg, #b4b5b5, #c5c5c5;
  --main-color:#383f44;
  --sec-color:#383f44 ;
  --hr:#383f44;
  --fac:#fff;
  --git:#fff;
  --twi:#fff;
  /* 
  --background-one:#090717;
  --background-two:#14122f;
  --border-color:#2a2b3a;
  --background-three:#0c0d1b;
  --back-header:#0d0921;
  --alert:#0b0f29;
  --color-alert:#ccc;
  --menu:#ccc;
  --toggle:#fff; */
}
:root[color-mode="light"] .dark--light{
  display: none;
}
:root[color-mode="dark"] .dark--hidden{
  display: none;
}
* {
  padding: 0;
  margin: 0;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "NeoSansArabic";
  background-color: var(--body);
  text-align: right;
  color: var(--color-body);
}

.blog {
  padding: 20px;
  margin-top: 2rem;
}
.hide{
  display: none;

  margin-bottom: .5rem;
}
form textarea{
  direction: ltr;
}
.preview-com #preview-content{
  direction: ltr;
  text-align: left;
}
.hide .color{
  text-align: left;
  color: #a115d1;
  direction: ltr;
  display: block;
}
.btn-read {
  color: #2836c4b5;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2;
  text-decoration: underline;
  -webkit-text-decoration-color: #2836c4b5;
  text-decoration-color: #2188ca38;
  background: linear-gradient(var(--btn-read));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-text-decoration-color: #2188ca38 !important;
  text-decoration-color: #2188ca38 !important;
  font-weight: 700;
  padding-bottom: 0.15rem;
}
.btn-blog {
  color: #fff;
  background-color: var(--main-color);
  border: 0;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.form-control ,.form-control:focus{
  background-color: var(--secondary-color);
  border-color: var(--border-form);
  box-shadow: none;
}
.btn:focus{
  box-shadow: none;
}
.btn-blog:hover {
  opacity: 0.799;
}
.helptext {
  display: none !important;
}

.search,
.post,
.bg-blog {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.color {
  color: #f7f6f3;
}

/* input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  z-index: 99;
} */

/* input[type="file"]::before {
  z-index: 999;
  content: ' حمل الصورة المراد تحميلها';
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  padding:.7rem;
  outline: none;
  width: 30%;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  color: #6c818d;
} */
.form-check-label {
  margin-right: 1rem;
}
input[type="file"]:hover::before {
  border: 0;
}

input[type="file"]:active::before {
  background: var(--secondary-color);
}

ul li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "NeoSansArabic";
  color: var(--color-head);
  text-transform: capitalize;
}

small {
  color: var(--small);
}
.box-shadow {
  box-shadow: var(--boxShadow);
}
blockquote {
  padding: 0.75rem 4rem 0.75rem 1rem;
  font-size: 0.8rem;
  position: relative;
  margin: 0 0 1.5rem;
  border-right: 1px solid var(--main-color);
  background: var(--main-color);
  background: linear-gradient(-90deg, var(--main-color), var(--secondary-color));
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

blockquote::before {
  content: "مهلا!";
  font-style: italic;
  font-weight: 700;
  color: var(--main-color);
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}
blockquote::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 25%;
  background: var(--main-color);
  background: linear-gradient(-90deg, var(--main-color), var(--secondary-color));
}
/*************  end general setting style ***************/

/*  start header */
header {
  padding: 0.7rem;
}
.header {
  padding: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex !important;
  align-items: center;
}

.user:focus {
  box-shadow: none;
}

.dropdown-menu {
  border-top: 3px solid var(--sec-color);
  top: 58px;
  text-align: right;
  border-left: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  box-shadow: 0px 0px 20px #0000000d;
  padding: 0 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-menu-right {
  right: auto;
  left: 0;
}
.dropdown-item{
  color:var(--primary-color);
}
.dropdown-item:hover{
  color:var(--primary-color);
}
.dropdown-menu .dropdown-item {
  padding: 0.8rem 1.5rem;
  color:var(--primary-color);
  background-color: var(--secondary-color);
}
.not-log:hover {
  background: transparent;
}
.menu{
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar{
    display: none;
    /* display: flex; */
    height: 100%;
    background-color: var(--body);
    width: 100%;
    justify-content: normal;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    justify-content: space-between;
    flex-direction: row;
    transition: all 4s ease-in-out;
    transition-delay: 5s;
    align-items: baseline;
  }
  
  .logo-phone .nav-link{
  font-size: 1rem;
}
  .navs{
    flex-direction: column;
    width: 100%;
    margin-bottom: 9rem;
  }
  .navs a{
        font-size: 1rem;

  }
  .menu{
  display: block !important;
}
.logo-phone{
      display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.user-img{
  padding-right: 0;
  margin-top: 1rem;
}
.dropdown-menu-right{
  right: 0;
}

.closebtn{
  font-size: 1.6rem;
    font-weight: bold;
    background: var(--sec-color);
    width: 20px;
    color: #fff;
    height: 20px;
    text-align: center;
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .8rem;
    cursor: pointer;
}
.registers{
  flex-direction: column;
}
}
/*  end header */

/*  start form-search */
.form-search {
  height: 100px;
}
.form {
  display: flex;
  height: 100%;
  width: 100% !important;
  align-items: center;
}
.form input {
  width: 80%;
  border: none;
  background: transparent;
  text-align: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 4px;
  outline: none;
  color: #6c6c6c;
  box-shadow: none;
}
.form input:focus {
  background: transparent !important;
}
.form input:focus {
  box-shadow: none;
}
.btn-search {
  width: 20%;
  height: 100%;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}
.dropdown-toggle::after {
  color: var(--sec-color);
  margin: 0.395em;
}
.btn-search i {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
/*  end form-search */

/*  start form-search */
.form-search {
  padding: 15px 0;
}
/*  end form-search */

/*  start blog */
pre,
code {
  display: block !important;
  font-size: 87.5%;
  color: var(--code-co);
  background:var(--code-bg);
  padding: 5px;
  border-radius: 3px;
  overflow-x: auto;
  text-align: left !important;
  direction: ltr;
}
.pagedownwidget pre,
code {
  text-align: left !important;
  direction: ltr !important;
}

.wmd-panel {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
  min-width: 500px;
}

.preview {
  color: #2836c4b5;
  text-decoration: underline;
  -webkit-text-decoration-color: #2188ca38;
  text-decoration-color: #2188ca38;
}
.wmd-button-bar {
  background-color: var(--secondary-color) !important;
  padding: 7px;
  border-radius: 8px;
}

/* .wmd-button-row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  height: 20px;
} */

/*  end blog */

/*  start post detail */
.article {
  /* width: 540px; */
  width: 100%;
  margin-bottom: 2rem;
}
.article a h1 {
  margin-top: 0.5rem;
}
.user-post {
  color: #a115d1;
  font-weight: bold;
  margin-right: 0.2rem;
}
.share {
  margin: 1rem 0;
}

.share a {
  margin: 5px;
}

.share a i {
  font-size: 1.5em;
  color: #6b6b6be6;
}
.author-image {
  margin: 1rem 0;
  align-items: center;
}

.date {
  align-items: center;
}
.date span {
  margin-left: 10px;
  color: var(--small);
  font-size: 80%;
}
.comment-user {
  margin-bottom: 0;
}
.author-name h6 {
  font-weight: bold;
}
.slah {
  color: var(--main-color);
  margin: 0.2rem;
  font-size: 1.2rem;
}
.form-reply {
  margin-top: 1.5rem;
}

.reply-user .author-name h6 {
  font-size: 1rem;
}
.comment-reply {
  display: none;
  margin: 3rem 3rem;
}

.reply-content {
  border: 2px dashed var(--main-color);
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  padding-right: 1rem;
}
.content-markdown {
  padding: 0.9rem;
  width: 100%;
  overflow: hidden;
}
iframe {
  width: 100%;
}
/*  end post detail */

/*  start profile */

.summery_header-profile {
  position: relative;
  height: 15rem;
  background-color: var(--sec-color);
  background: repeating-conic-gradient(var(--sec-color) 0% 25%, #eee 0% 50%) 50%/ 60px 60px;
}
.user-pro {
  position: absolute;
  content: "";
  left: 50%;
  top: 30%;
  transform: translate(-50%, 50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
  border: 3px solid var(--sec-color);
}
.user-pro img {
  width: 100%;
  height: 100%;
}
.info-profile {
  margin-top: 4rem;
}
.reply-user .profile {
  width: 30px;
  height: 30px;
}

.author-image .profile {
  width: 50px;
  height: 50px;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
}

.profile img {
  width: 100%;
  height: 100%;
}
.count-post {
  background-color: var(--main-color);
  color:#fff;
  width: 20px;
  height: 20px;
  padding: 3px 0;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 0.9rem;
}
/*  end profile */

/*  start pagination */
.pagination_wrap {
  text-align: center;
  margin: 40px 0;
}
.pagination_wrap ul {
  margin: 0px;
  padding: 0px;
}
.pagination_wrap ul li {
  display: inline-block;
}
.pagination_wrap ul li a {
  width: 38px;
  height: 38px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 38px;
  display: inline-block;
  margin: 0 4px;
  border: 0;
  background:var(--pagination-bg);
  color: var(--pagination-co);
   
}
.pagination_wrap ul li a i {
  line-height: 38px;
}
.pagination_wrap ul li a:hover {
  border-color: #2836c4b5;
  color: #2836c4b5;
}
.register-from .form-text,
.bg-blog .form-text {
  display: none !important;
}

/*  end pagination */

/*  start login with social media */

/* style inputs and link buttons */
.social-form input,
.social-form .btn {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  text-decoration: none;
  /* remove underline from anchors */
}

.social-form input:hover,
.social-form .btn:hover {
  opacity: 1;
  color: #fff;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3b5998;
  color: #fff;
}
.fcb {
  color:var(--fac);
}
.tw {
  color: var(--twi);
}
.git {

  color: var(--git);
}
.social-i {
  font-size: 2rem;
  margin: 1rem 0.3rem;
}
.twitter {
  background-color: #55acee;
  color: #fff;
}

.google {
  background-color: #dd4b39;
  color: #fff;
}
.github {
  background-color: #000;
  color:#fff;
}

.social-form .col {
  padding: 0 4rem;
}
.social-title {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 1rem;
}
.reset-pass {
  background-color:var(--main-color);
  padding: 1rem;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-pass:hover {
  color: var(--secondary-color);
}
.social-form .btn {
  font-size: 0.9rem;
  display: flex;
  margin-bottom: 0.8rem;
  align-items: center;
  justify-content: space-between;
}
.social-form .btn i {
  margin: 6px;
}
.social-form .social {
  position: relative;
}
.social-form .soc {
  padding: 0 2rem;
}
/* vertical line */
.social::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  border: 1px dashed var(--main-color);
}

/* text or inside the vertical line */
.or {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  border: 2px solid var(--main-color);
  border-radius: 50%;
  left: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  /* .social-form  {
    padding: 0 1rem;
  } */

  /* hide the vertical line */
  .social::before {
    display: none;
  }
  .social-form .soc {
    padding: 1rem;
  }
  .or {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

/*  end login with social media */

/*  start footer */
footer {
  margin-top: 60px;
}

.about-khatwa-blog .logo-blog h3 {
  /* position: absolute;
    left: 20%;
    top: 40%;
    content: ""; */
}
.about img{
  width: 100%;
}
.about-khatwa-blog {
  padding-top: 4rem;
}
.about-khatwa-blog .content-about p {
  font-size: 1rem;
}
.helper-link {
  padding-top: 4rem;
}
.helper-link ul {
  padding: 1rem;
}
.helper-link ul li {
  margin-bottom: 1rem;
}
footer hr {
  border-top: 1px solid var(--hr);
}
.icon-fo,
.copy {
  color:  var(--sec-color);
  margin: 1px;
}
.copy {
  font-size: 1.3rem;
  margin: 4px;
}
.copy-right {
  justify-content: space-between;
}
.subscri {
  margin-top: 4rem;
}
.subscri .btn-search,
.subscri .btn-search:hover {
  color:#fff;
}
.subscri form {
  box-shadow: var(--boxShadow)
}
@media screen and (max-width: 992px) {
  .copy-right {
    justify-content: space-between;
    flex-direction: column;
  }
}
/*  end  footer */

/*  start loader */

.khatwa {
  font-size: 5rem;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
      font-weight: bold;
  justify-items: center;
  color: var(--main-color);
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  z-index: 10000;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--body);
 
}
.load {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: var(--main-color);
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 20vh;
  opacity: 0.8;
}
.span-logo,.span-logo2{
  position: relative;
}
.span-logo,.span-logo2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--sec-color);
   
}



.load span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.load span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/*  end loader */


/* start dark-mode */
#dark-mode{
  text-align: center;
    width: 30px;
    line-height: 30px;
    height: 30px;
    position: fixed;
    right: 1.5rem;
    border-radius: 50%;
    bottom: 1rem;
    z-index: 1009;
    color: #fff;
    /* var(--primary-color); */
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    /* display: none; */
    background-color:var(--sec-color);
     /* var(--back-header); */
}
/* end dark-mode */



