{% extends 'base.html' %}
{% comment %} {% markdown_allowed %} {% endcomment %}
{% block head_title %}
all posts | {{block.super}}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto mt-4 mb-4">
            <div class="form-search">
                <form action="" method="get" class="w-100 form bg-blog">
                    <input id="search" class="form-control" type="text" name="q" value="{{ request.GET.q }}"
                        placeholder="ابحث عن مقال ...">
                    <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>


       <div class="posts">
        {% include 'post/post_results.html' %}
        </div>
    {% endblock content %}
    
{% block javascripts %}
<script>
   $(document).ready(function () {
       
      $("#search").keyup(function () {
          //event.preventDefault();
        var query = $(this).val();
        var thisURL = '/?q=';
       
         $.ajax({
            type: "GET",
            url: thisURL,
            data: {'q':query},
            //cache: false,
            dataType: 'json',
            success: function (data) {
               data = data['posts'];
              // console.log("=====",query)
               $(".posts").html(data);
               //$("#search").val(' ');
            },
            error: function (e) {
               console.log(e);
            },

         });
      });




   });
</script>

{% endblock javascripts %}