{% extends "base.html" %}

{% block content %}
<div class="container">
      <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto mt-4">
                  <div class="bg-blog p-4">
                        <p>لقد أرسلنا إليك عبر البريد الإلكتروني تعليمات حول تعيين كلمة المرور الخاصة بك. إذا لم يصلوا
                              بعد بضع دقائق ، تحقق من مجلد الرسائل غير المرغوب فيها.</p>
                  </div>
            </div>
      </div>
</div>
{% endblock content %}