{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    {% if validlink %}
<div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto mt-4">
            <div class="bg-blog p-4">
                        <p>يرجى إدخال (وتأكيد) كلمة المرور الجديدة.</p>
                        <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                                    <input type="submit" value="Change my password" />
                        </form>
                    {% else %}
                        <h1>فشل إعادة تعيين كلمة المرور</h1>
                        <p>رابط إعادة تعيين كلمة المرور غير صالح ، ربما لأنه تم استخدامه بالفعل. يرجى طلب إعادة تعيين كلمة مرور جديدة.</p>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}