{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="mt-3 mb-3 col-lg-4 col-md-6 col-sm-12  mt-4 mb-4">
            <div class="bg-blog">
                <div class="summery_header-profile">
                    <div class="user-pro">
                        {% if profile.image %}
                        <img class="img-fluid rounded-circle mt-auto " src="{{profile.image.url}}"
                            alt="{{profile.user}}" title="{{profile.user}}">
                        {% endif %}
                    </div>
                </div>
                <div class="info-profile blog ">
                    <div class="mx-auto w-50">
                        <div><p>{{profile.user}}</p></div>
                        <div>{{profile.about_us}}</div>
                        {% if profile.user == request.user %}
                        <div>{{profile.user.email}}</div>
                        {% endif %}
                    </div>
                  
                </div>
                {% if profile.user == request.user %}
                <a href="{% url 'accounts:profile_edit' profile.user %}" class="reset-pass w-100 mt-2">تعديل البروفايل</a>
                {% endif %}
            </div>



        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="bg-blog blog">
                <div class="author-post">
                    {% if posts %}
                    <div class="d-flex">
                        <h4>المقالات </h4>
                        <span class="count-post">{{posts.count}}</span>
                    </div>
                    {% for post in posts  %}
                    <ul>
                        <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>

                    </ul>
                    {% endfor %}
                    {% else %}
                    <div class="d-flex">
                        <h4>المقالات </h4>
                        <span class="count-post">{{posts.count}}</span>
                    </div>
                    <p> لاتوجد مقالات له !</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}