{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#fff" />
  <meta name="msapplication-navbutton-color" content="#fff" />
  <!-- Windows Phone -->
  <meta name="apple-mobile-web-app-capable" content="#fff" />

  <!-- iOS Safari -->
  <meta name="description" content="{% block descri %} مدونة خطوة للشروحات البرمجية ,تتناول المدونة 
  كافة مجالات الحاسوب بمواضيع عدة شرح سهل بين يديك{% endblock descri %}" />
  <meta name="keywords" content="khatwa" />
  <meta name="author" content="khatwa" />
  <meta name="apple-mobile-web-app-status-bar-style" content="blueviolet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="robots" content="noindex, nofollow" />
  
  <link rel="icon" sizes="100x100" type="image/ico" href="{% static 'img/khatwa.ico' %}" /> 

  <title>{% block head_title %} blog{% endblock head_title %}</title>
  <!--  lib bootstrao -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <!--  lib fontawesome all -->
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
  <!--  lib  fontawesome -->
  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
  <!--  lib owl-carousel -->

  <!--  main style -->
  {% block head_extra %}
  {% endblock head_extra %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <header class="bg-blog">
    <div class="container">
      <div class="header">
        <nav class="navbar">
          <a class="nav-link" href="{% url 'posts:post_list'  %}">المقالات</a>
          <a class="nav-link" href="{% url 'about:about'  %}">عن خطوة</a>
          {% if perms.posts.add_post %}
          <a class="nav-link" href="{% url 'posts:create'  %}">انشاء</a>
          {% endif %}
        </nav>
        <div class=" dropdown">
          {% if user.is_authenticated %}
          <a href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false"
            class="dropdown-toggle btn user d-xl-block" data-toggle="dropdown">
            <div class="profile">
              {% if user.profile.image %}
              <img class="profile-image" src="{{user.profile.image.url}}" alt="{{user.username}}"
                title="{{user.username}}">
              {% endif %}
            </div>
            {{user.get_username|slice:6}}
          </a>
          <div class="dropdown-menu bg-blog dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <div class="d-xl-block ">
              <a href="{% url 'accounts:profile' request.user %}" class="dropdown-item">بروفايلي</a>
            </div>
            {% if user.is_staff %}
            <div class=" d-xl-block ">
              <a href="{% url 'posts:create' %}" class="dropdown-item"> انشاء مقال</a>
            </div>

            {% endif %}
            <div class="d-xl-block ">
              <a href="{% url 'logout'%}?next=/" class="dropdown-item">خروج</a>
            </div>

            {% else %}
            <div class=" d-flex">
              <a class="dropdown-item not-log" href="{% url 'login' %}">دخول</a>
              <a class="dropdown-item not-log" href="{% url 'accounts:register' %}">تسجيل</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include 'message_display.html' %}
  {% block content %}

  {% endblock content %}



  <!-- start footer -->
  <footer>
    <div class="bg-blog">
      <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="about-khatwa-blog">
                  <div class="logo-blog d-flex align-items-center">
                    <div><img src="{% static 'img/khatwa.svg' %}" alt="khatwa-blog" ></div>
                    <div><h3>مدونة خطوة</h3></div>
                  </div>
                  <div class="content-about">
                   <p>
                   مبادرة خطوة مبادرة تقنية تهتم بمجال البرمجة تقيم المبادرة مسابقات في التخصصات البرمجية 
                   </p>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="helper-link">
                  <h2>روابط مهمة</h2>
                <ul>
                  <li>
                    <a href="{% url 'posts:post_list' %}">لينك مساعد بس</a>
                  </li>
                  <li>
                    <a href="{% url 'about:about'  %}">عن خطوة</a>
                  </li>
                  <li>
                    <a href="{% url 'posts:post_list' %}">لينك مساعد بس</a>
                  </li>
                  <li>
                    <a href="{% url 'posts:post_list' %}">لينك مساعد بس</a>
                  </li>
                </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="subscri">
                    <h4>اشترك في القائمة البريدية</h4>
                    <p>لتحصل علي اخر المقالات والاخبار</p>
                    {% include 'subscrip.html' %}
                </div>
            </div>
          </div>
      </div>
      <hr class="mb-0">
      <div class=" bg-blog p-4">
        <div class="container">
          <div class="copy-right d-flex ">
            <div>
            جميع الحقوق<span class="copy">&copy;</span> 2020-<script>document.write(new Date().getFullYear());</script> محفوظة <i class="fa icon-fo fa-hand-point-left"></i> لمدونة خطوة
            </div>
            <div>
           برمجة وصَمَّم بِحُبّ<i class="fa icon-fo fa-heart"></i> مِنْ قِبَلِ <a href="http:beko4learn.com">أَبُوبَكْر هِلَال</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer-->

  <!-- lib jquery -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- lib popper -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- lib bootstrao -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--  main js -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/marked.js' %}"></script>
  {% block javascripts %}
  {% endblock javascripts %}
</body>

</html>