{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content%}
<div class="container">

    <div class="row">
        <div class="mt-3 mb-3 col-lg-8 col-md-6 col-sm-12 mx-auto mt-4 mb-4">
            <div class="blog bg-blog p-3">
                <h3 class="text-center mb-3 mt-3">الغاء اشترك في القائمة البريدية<h3>
                <form method="get" class="w-100 form bg-blog form-email" >
                    <input  class="form-control" type="email" name="email" value="{{ request.GET.email }}"
                        placeholder="بريدك الالكتروني">
                    <button class="btn btn-blog email-btn" type="submit">الغاء الاشتراك</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}